<button class="btn btn-default" id="btnPreviousChapter">
  {{i18n 'previousChapter'}}
</button>

<div id="pages"></div>

<button class="btn btn-default" id="btnNextChapter">
  {{i18n 'nextChapter'}}
</button>
