<div class="chapter" style="overflow: hidden">

  {{#each pages}}

    <div class="chapter-page" style="background-color: #fff">

      <img class="img-responsive" src="{{this.url}}" />

    </div>

  {{/each}}

</div>
