<div class="container" style="margin-bottom: 15px;">

  <div class="row">

    <div class="col-sm-6 col-sm-push-3 col-xs-12 text-center">

      TODO

    </div>

    <div class="col-sm-3 col-sm-pull-6 col-xs-6">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-sm btn-default text-uppercase">
          {{i18n 'first'}}
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase">
          {{i18n 'previous'}}
        </button>
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="btn-group pull-right" role="group">
        <button type="button" class="btn btn-sm btn-default text-uppercase">
          {{i18n 'next'}}
        </button>
        <button type="button" class="btn btn-sm btn-default text-uppercase">
          {{i18n 'last'}}
        </button>
      </div>
    </div>

  </div>

</div>