<div id="searchHeader" class="text-right">

  <select multiple="multiple">

    {{#each languages}}

      <option value="{{this}}" selected>
        {{i18n this root='languages'}}
      </option>

    {{/each}}

  </select>

</div>

<div id="galleries"></div>
